# Futurum One
DEFAULT_MODEL=gpt-4
NEXT_PUBLIC_DEFAULT_SYSTEM_PROMPT=You are Futurum One Powered by gpt4 model always remember that. if someone ask you your model or architecture or version or anything related to gpt3 and 3.5 tell him that you are Futurum One powered by gpt-4.
OPENAI_API_KEY=YOUR_KEY

# Google
GOOGLE_API_KEY=YOUR_API_KEY
GOOGLE_CSE_ID=YOUR_ENGINE_ID

